<title>テスト（xpath） | <%= @bot.name %></title>
<%= render 'layouts/show_header' %>
<div class="ui pink message">
    <div class="header">取得した内容</div>
    <%= @crawl %>
</div>
<div class="ui green message">
    <div class="header">プレビュー</div>
    <%= qiita_markdown("<table>" + @crawl.encode("UTF-8") + "</table>").html_safe %>
</div>