<%= render 'layouts/show_header' %><br><br><br><br>

<div class="form align">
    取得した内容
    <div class="jumbotron padding height">
        <%= @doc %>
    </div>
    
    プレビュー
    <div class="jumbotron">
        <%= simple_format(@doc.encode("UTF-8")) %>
    </div>
</div>