// Place all the styles related to the Bots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

table.type07 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border: 1px solid #ccc;
}

table.type07 thead {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #04162e;
}

table.type07 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
}

table.type07 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #efefef;
}
table.type07 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}



//edit & new

.form {
  height: 500px;
  width: 500px;
	margin: 0 auto;
  word-break: break-all;
}


//test

.border {
  width: 100%;
  box-shadow: 0 1px #777;
}


//本番
.align {
  text-align: center;
}

.font {
  font-size: 20px;
}

.msg {
  text-align: center;
  width: 500px;
	margin: 0 auto;
}

.error {
  height: 200px;
  width: 500px;
	margin: 0 auto;
}

.padding {
  padding: 20px;
}

.height {
 min-height: 100px;
 height: auto !important;
 height: 50px;
}