<div class="ui segment">
  <h3 class="ui right aligned header">
    <%= link_to "HOME", root_path, { :class => "ui yellow basic button" } %>
    <%= link_to "タスク・選挙進捗", elections_path, { :class => "ui teal basic button" } %>
    <%= link_to "選挙登録", new_election_path, { :class => "ui primary basic button" } %>
  </h3>
</div>