<div class="ui segment">
  <h3 class="ui right aligned header">
    <%= link_to "HOME", root_path, { :class => "ui yellow basic button" } %>
    <%= link_to "タスク・選挙進捗", elections_path, { :class => "ui teal basic button" } %>
    <%= link_to "選挙登録", new_election_path, { :class => "ui primary basic button" } %>
    <%= link_to "全て削除", elections_delete_all_path, { :class => "ui negative basic button", data: { confirm: "本当に削除してもいいですか？" }} %>
  </h3>
</div>